.sidebar__button-new-letter {
  width: 100%;
  padding: 8px;

  border: solid 1px #e5eaf0;
  background-color: #6287bd;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
