.sidebar__menu-item {
  display: block;
  padding: 6px 10px;
  margin: 6px 0;
  color: #707070;
  text-decoration: unset;
}

.sidebar__menu-item:hover {
  background-color: #c8d1dd;
  border-radius: 3px;
}
