.essay__nuclear-explosion {
  display: none;
  width: 100%;
  min-height: 100vh;
  background-image: url('https://i.gifer.com/origin/d4/d4efe215d7b06ed7be0b467c8a4ddffd_w200.gif');
  background-size: 100%;
}
