.search-bar__button-close {
  position: absolute;
  top: calc(16px - 3px);
  right: -24px;

  width: 16px;
  height: 16px;

  border: none;
  background: none;
  color: #dfdfdf;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  transform: scaleX(1.3);
}

.search-bar__button-close:hover {
  opacity: 0.5;
}
