html {
  min-height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}

@keyframes delete_animation {
  50% {
    opacity: 0;
  }
  to {
    height: 0;

    border: 0;
  }
}

@keyframes add_animation {
  from {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 48px;
  }
  to {
    opacity: 1;
  }
}

.mail-body {
  overflow: visible;
  min-width: 768px;
  height: calc(100% - 28px);
  min-height: calc(100% - 28px);
  padding: 0 22px 14px;
  margin: 0 0 0 214px;
  background-color: #e5eaf0;
}
